@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'waterlemon', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;

  --color-beige-50: #faf7ec;
  --color-beige-100: #f6f0d7;
  --color-beige-200: #ead99e;
  --color-beige-300: #debe66;
  --color-beige-400: #d2a43d;
  --color-beige-500: #c38f2f;
  --color-beige-600: #a87026;
  --color-beige-700: #865222;
  --color-beige-800: #704323;
  --color-beige-900: #613922;

  --color-avocado-50: #f4f5f1;
  --color-avocado-100: #e3e7dd;
  --color-avocado-200: #cad2bd;
  --color-avocado-300: #abb697;
  --color-avocado-400: #89986d;
  --color-avocado-500: #7b8961;
  --color-avocado-600: #66714e;
  --color-avocado-700: #525940;
  --color-avocado-800: #464b38;
  --color-avocado-900: #3f4233;
}
@import "tailwindcss";

:root{
  font-size: large;
  font-weight: 900;
}

/* Light theme */
.light {
  --background: theme(colors.beige.200);
  --surface: theme(colors.beige.200);
  --surface-alt: theme(colors.beige.300);

  --text: theme(colors.avocado.700);
  --text-muted: theme(colors.avocado.600);
  --border: theme(colors.beige.300);

}

/* Dark theme */
.dark {
  --background: theme(colors.avocado.900);
  --surface: theme(colors.avocado.800);
  --surface-alt: theme(colors.avocado.800);

  --text: theme(colors.beige.100);
  --text-muted: theme(colors.beige.100);

  --border: theme(colors.avocado.300);
}

body {
  @apply antialiased;
  background: var(--background);
  color: var(--text);
}

main {
  background: var(--background);
  color: var(--text);
}

header,
footer {
  background: var(--surface);
  color: var(--text);
}

hr {
  border-color: var(--border);
}

a {
  color: var(--text);
}

small,
.text-muted {
  color: var(--text-muted);
}
